@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Kreon:wght@300..700&display=swap');

body{
  font-family: Kreon;
  -webkit-text-size-adjust: 100%;
}

.video-clip{
  width: 100%;
  /* height: 100vh; */

  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;

  object-fit: cover;
}

@media(min-aspect-ratio: 16/9){
  .video-clip{
    width: 100%;
    height: 100vh;
    
  }
}

@media(max-aspect-ratio: 16/9){
  .video-clip{
    width: 100vw;
    height: 100%;
  }
}

.container-lg {
  height: 100vh;
}

.landing-page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.er {
  background: #ff000060;
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  padding: 10px 20px;

  animation: explore 2s infinite;
}

@keyframes explore{
  0%{
    scale: 0.8;
  }
  50%{
    scale: 1.1;
  }
  100%{
    scale: 0.8;
  }
}

@media(max-width:720px){
  .logo{
    width: 150px;
  }
  .text-logo{
    width: 250px;
    margin-bottom: 10px;
  }
  .er{
    font-size: 15px;
  }
}